@model proshuteria.Data.Meat

@{
    ViewData["Title"] = "Изтриване";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h4>Месо</h4>
            <hr />
            <div class="row">
                <div class="col-sm-2">Каталожен номер:</div>
                <div class="col-sm-10">@Html.DisplayFor(model => model.CatalogeNumber)</div>
            </div>
            <div class="row">
                <div class="col-sm-2">Име:</div>
                <div class="col-sm-10">@Html.DisplayFor(model => model.Name)</div>
            </div>
            <div class="row">
                <div class="col-sm-2">Категория:</div>
                <div class="col-sm-10">@Html.DisplayFor(model => model.MeatCategories.Id)</div>
            </div>
            <div class="row">
                <div class="col-sm-2">Цена:</div>
                <div class="col-sm-10">@Html.DisplayFor(model => model.Price)</div>
            </div>
            <div class="row">
                <div class="col-sm-2">Дата на създаване:</div>
                <div class="col-sm-10">@Html.DisplayFor(model => model.DateCreated)</div>
            </div>
            <div class="row">
                <div class="col-sm-2">Описание:</div>
                <div class="col-sm-10">@Html.DisplayFor(model => model.Description)</div>
            </div>
            <div class="row">
                <div class="col-sm-2">URL на изображение:</div>
                <div class="col-sm-10">@Html.DisplayFor(model => model.ImageUrl)</div>
            </div>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <div class="text-center mt-3">
                    <input type="submit" value="Изтрий" class="btn btn-danger" /> |
                    <a asp-action="Index" class="btn btn-secondary">Обратно към списъка</a>
                </div>
            </form>
        </div>
    </div>
</div>
