@model proshuteria.Data.Meat

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">Details</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">@Html.DisplayFor(model => model.Name)</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-3">
                            Номер
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.CatalogeNumber)
                        </dd>
                        <dt class="col-sm-3">
                            Категория
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.MeatCategories.Name)
                        </dd>
                        <dt class="col-sm-3">
                            Цена
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Price)лв.
                        </dd>
                        <dt class="col-sm-3">
                            Регистрация
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.DateCreated)
                        </dd>
                        <dt class="col-sm-3">
                            Описание
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                        <dt class="col-sm-3">
                            Снимка
                        </dt>
                        <dd class="col-sm-9">
                            <img src="@Html.DisplayFor(model => model.ImageUrl)" class="img-fluid" alt="Meat Image" />
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-3">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
