@model IEnumerable<proshuteria.Data.Meat>

@{
    ViewData["Title"] = "Меса";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <p class="text-end">
                <a asp-action="Create" class="btn btn-primary">Създай</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Номер в каталога
                        </th>
                        <th>
                            Име
                        </th>
                        <th>
                            Категория на месото
                        </th>
                        <th>
                            Цена
                        </th>
                        <th>
                            Дата на създаване
                        </th>
                        <th>
                            Описание
                        </th>
                        <th>
                            Изображение
                        </th>
                        <th>
                            Действия
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CatalogeNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MeatCategories.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateCreated)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" width="80" class="img-fluid" />
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Редактирай</a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Детайли</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Изтрий</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
